<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>

  <appSettings>
    <add key="SecurityTokenExpiryMinutes" value="4" />
  </appSettings>

  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>

  <connectionStrings>
    <add name="DbConnectionString" connectionString="Data Source=(local)\SQLEXPRESS;Initial Catalog=ChronoLog-Local;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <log4net>
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="Logs\CLog.Host.log" />
      <param name="AppendToFile" value="true" />
      <param name="RollingStyle" value="Size" />
      <param name="MaxSizeRollBackups" value="10" />
      <param name="MaximumFileSize" value="10MB" />
      <param name="StaticLogFileName" value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="Header" value="[Started]&#xD;&#xA;" />
        <param name="Footer" value="[Stopped]&#xD;&#xA;" />
        <param name="ConversionPattern" value="%date [%thread] %-6level %logger - %message %exception%newline" />
      </layout>
    </appender>
    <appender name="ColoredConsoleAppender" type="log4net.Appender.ColoredConsoleAppender">

      <mapping>
        <level value="FATAL" />
        <foreColor value="Red" />
        <backColor value="HighIntensity" />
      </mapping>
      <mapping>
        <level value="ERROR" />
        <foreColor value="White" />
        <backColor value="Red" />
      </mapping>
      <mapping>
        <level value="WARN" />
        <foreColor value="Yellow" />
      </mapping>
      <mapping>
        <level value="INFO" />
        <foreColor value="White" />
      </mapping>
      <mapping>
        <level value="DEBUG" />
        <foreColor value="Cyan" />
      </mapping>

      <layout type="log4net.Layout.PatternLayout">
        <param name="Header" value="[Started]&#xD;&#xA;" />
        <param name="Footer" value="[Stopped]&#xD;&#xA;" />
        <param name="ConversionPattern" value="%date [%thread] %-6level %logger - %message %exception%newline" />
      </layout>
    </appender>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="LogFileAppender" />
      <appender-ref ref="ColoredConsoleAppender" />
    </root>
  </log4net>

  <system.serviceModel>

    <behaviors>
      <serviceBehaviors>
        <behavior name="DefaultServiceBehavior">
          <serviceMetadata httpGetEnabled="True" />
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <services>

      <service behaviorConfiguration="DefaultServiceBehavior" name="CLog.Services.Access.AccessService">
        <endpoint address="service" binding="basicHttpBinding" contract="CLog.Services.Security.Contracts.Access.IAccessService" name="BasicHttpAccessService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" name="MexBinding" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8001/Access/" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="DefaultServiceBehavior" name="CLog.Services.Timesheets.TimesheetService">
        <endpoint address="service" binding="basicHttpBinding" contract="CLog.Services.Contracts.Timesheets.ITimesheetService" name="BasicHttpTimesheetService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" name="MexBinding" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8002/Timesheets/" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="DefaultServiceBehavior" name="CLog.Services.Users.UserService">
        <endpoint address="service" binding="basicHttpBinding" contract="CLog.Services.Contracts.Users.IUserService" name="BasicHttpUserService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" name="MexBinding" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8003/Users/" />
          </baseAddresses>
        </host>
      </service>

    </services>

  </system.serviceModel>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.ServiceLocation" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
