<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding" />
      </basicHttpBinding>
      <!--<netTcpBinding>
        <binding name="TcpBinding" />
      </netTcpBinding>-->
    </bindings>
    <client>
      <!--<endpoint address="net.tcp://localhost:8000/Access/service" binding="netTcpBinding" bindingConfiguration="TcpBinding" contract="ServiceReference1.IAccessService" name="TcpAccessService">
        <identity>
          <userPrincipalName value="Andre-PC\Andre" />
        </identity>
      </endpoint>-->
      <endpoint
        address="http://localhost:8001/Access/service"
        binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding"
        contract="CLog.Services.Access.Contracts.IAccessService"
        name="BasicHttpAccessService" />
    </client>
  </system.serviceModel>
  
</configuration>