<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8001/Access/service" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding" contract="CLog.Services.Security.Contracts.Access.IAccessService" name="BasicHttpAccessService" />
      <endpoint address="http://localhost:8002/Timesheets/service" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding" contract="CLog.Services.Contracts.Timesheets.ITimesheetService" name="BasicHttpTimesheetService" />
      <endpoint address="http://localhost:8003/Users/service" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding" contract="CLog.Services.Contracts.Users.IUserService" name="BasicHttpUserService" />
    </client>
  </system.serviceModel>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.ServiceLocation" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  
</configuration>